*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(200, 200, 200, 0.591);
}
.gift-display{
    width: 84%;
    height: 110%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    margin: 50px auto 20px auto;
}
.gift{
    width: 14%;
    height: 130px;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 15px; 
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard-display{
    width: 60%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
}
button{
    width: 15%;
    height: 70px;
    font-size: 20px;
    background-color: white;
    color: blue;
    border-radius: 10px;
    margin: 3px;
    box-shadow:5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}